<!-- templates/bookings/new.html -->

<ion-view title="New booking">
  <ion-content padding="true" class="has-header" ng-controller="BookingsCtrl">
    <form>
      <label class="item item-input">
        <span class="input-label">Address</span>
        <input id="addr" type="text" placeholder="">
      </label>
      <label class="item item-input">
        <span class="input-label">Latitude</span>
        <input id="lat" type="number" step="any" placeholder="">
      </label>
      <label class="item item-input">
        <span class="input-label">Longitude</span>
        <input id="lng" type="number" step="any" placeholder="">
      </label>
      <button class="button button-stable button-block " ng-click="submit()">Submit booking request!</button>
    </form>
    <div id="map" style="width:100%;height:400px;"></div>

  </ion-content>

</ion-view>

