<ion-modal-view on-double-tap="closeModal()">
  <ion-header-bar class="bar-stable">
    <div class="buttons">
      <button class="button button-stable button-clear " ng-click="closeModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content padding="true" scroll="false" class="has-header">
    <ion-list>
      <ion-item>{{sync_notification}}</ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>
